/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * CSS By Martin Balon
 */

/* Generel Rules */
.left {
	float: left;
}

.right {
	float: right;
}

.clearfix {
	overflow: auto;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.desktop, .hidden {
	display: none;
}

* {
	box-sizing: border-box;
	color: rgb(50, 50, 50);
}

body {
	font-family: 'Dosis', sans-serif;
	line-height: 1.2;	
}

a {
	text-decoration: none;
}

h1 {
	text-align: center;
	font-size: 1.4em;
	font-family: 'Playfair Display', serif;
}

section h1 {
	font-size: 2em;
}

h1, h2 {
	letter-spacing: 1px;
}

.button {
	background-color: rgb(255, 55, 55);
	padding: 4px 8px;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	font-size: 0.9em;
	color: white;
}

/* INPUT */
input[type="text"], input[type="password"], input[type="submit"], textarea {
	display: block;
	width: 100%;
	padding: 5px;
}

input[type="checkbox"] {
	margin: 0;
	margin-top: 10px;
	margin-right: 5px;
	height: 11px;
	width: 11px;
}

input, textarea {
	font-family: 'Dosis', sans-serif;
	border: none;
	border-bottom: 1px solid rgb(100, 100, 100);
	background-color: rgb(240, 240, 240);
	outline: 0;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	background-color: rgb(250, 250, 250);
	border-bottom: 1px solid rgb(255, 55, 55);
	transition: all 0.3s;
	box-shadow:         5px 5px 10px -2px rgba(40, 40, 40, 0.4);
	-webkit-box-shadow: 5px 5px 10px -2px rgba(40, 40, 40, 0.4);
	-moz-box-shadow:    5px 5px 10px -2px rgba(40, 40, 40, 0.4);
}

input[type="submit"] {
	border: none;
	background-color: rgb(255, 55, 55);
	border-radius: 5px;
	color: white;
	box-shadow:         none;
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
}

form span {
	font-size: 0.9em;
}

textarea {
	resize: none;
}

/* SIDEBAR */

/* HEADER & SIDEBAR */
header {
	height: 60px;
	position: fixed;
	z-index: 10;
	width: 100%;
	background-color: white;
	box-shadow: 0 5px 10px -2px rgba(40, 40, 40, 0.5);
	-webkit-box-shadow: 0 5px 10px -2px rgba(40, 40, 40, 0.5);
	-moz-box-shadow: 0 5px 10px -2px rgba(40, 40, 40, 0.5);
}

#company_logo {
	width: 80px;
	height: 100%;
	padding-top: 8px;
	margin-left: 10px;
	float: left;	
	font-family: 'Playfair Display', serif;
	line-height: 1;
}

#company_logo h1 {
	font-size: 30px;
	text-align: left;
}

#company_logo h2 {
	font-size: 15px;
}

#shopping_cart {
	width: 130px;
	float: right;
}

#shopping_cart:hover {
	cursor: pointer;
}

#shopping_cart img {
	width: 24px;
	padding-top: 8px;
	margin-right: 5px;
}

#phone_menu_logo {
	width: 60px;
	padding: 17px 10px 17px 10px; /* 2.5% left padding to match padding of the header */
	float: right;
	border-left: 1px solid rgba(40, 40, 40, 0.1);
	transition: all 0.5s;
}

#phone_menu_logo div {
	height: 6px;
	margin-bottom: 4px;
	background-color: rgb(255, 55, 55);
	border-radius: 5px;
	transition: all 0.5s;
}

#phone_menu_logo.active div {
	background-color: white;
	transition: all 0.5s;
}

#phone_menu_logo.active {
	background-color: rgb(255, 55, 55);
	transition: all 1s;
}

#phone_menu_logo div:nth-child(3) {
	margin-bottom: 0;
}

/* Mobile menu */
#mobile_menu {
	background-color: white;
	width: 100%;
	position: absolute;
	z-index: 99;
	transform: translateX(110%);
	top: 60px;
	border-top: 1px solid rgba(40, 40, 40, 0.1);
	box-shadow: 0 5px 10px -2px rgba(40, 40, 40, 0.5);
	-webkit-box-shadow: 0 5px 10px -2px rgba(40, 40, 40, 0.5);
	-moz-box-shadow: 0 5px 10px -2px rgba(40, 40, 40, 0.5);
	text-align: center;
	padding: 10px;
}

#mobile_menu li {
	font-size: 2em;
	font-family: 'Playfair Display', serif;
	margin-bottom: 5px;
}

.active {
	color: rgb(255, 55, 55);;
}

/* FOOTER */
footer {
	background: rgb(50, 50, 50);
	padding: 10px;
}

footer a {
	color:  rgb(200, 200, 200);
	display: block;
	text-align: center;
	font-size: 1.1em;
}

footer .column {
	margin: 20px auto;
}

footer img {
	width: 40px;
	height: 40px;
	margin: 0 10px;
	opacity: 0.6;
}

footer h1 {
	color: rgb(255, 55, 55);
	font-size: 2em;
}

footer .column div {
	width: 180px;
	margin: 0 auto;
}

/*
 ******************************** PAGES STYLE ********************************
 */

/* HOME PAGE */
.container {
	padding-top: 60px;
}

section {
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

/* CAROUSEL */
#carousel {
	height: 440px;
	width: 100%;
	position: relative;
	overflow: hidden;
	z-index: 3;
}

#carousel img, #circles {
	position: absolute;
	z-index: 99;
}

#carousel .slideImg {
	position: relative;
}

#arrow_left, #arrow_right {
	top: 50%;
	cursor: pointer;
	width: 25px;
	height: 25px;
}

#arrow_left {
	left: 10px;
}

#arrow_right {
	right: 10px;	
}

.slide {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0%;
	z-index: 3;
}

.slide h1 {
	font-size: 1.1em;
}

#circles {
	bottom: 10px;
	width: 100%;
}

#circles_container {
	height: 15px;
	width: 63px;
	margin: 0 auto;
}

.circle {
	width: 12px;
	height: 12px;
	border: 1px solid rgb(220, 220, 220);
	border-radius: 50%;
	float: left;
	margin-right: 5px;
}

.circle:last-child {
	margin-right: 0;
}

.circle_active {
	background-color: rgb(220, 220, 220);
}

.slide div {
	position: relative;
	height: 100%;
}

.slide h1 {
	text-align: center;
}

.slide p {
	text-align: left;
	font-size: 0.9em;
}

.slide {
	text-align: center;
	padding: 40px; /* 10px (position of arrows) + 25px width of arrows = 5px actual padding */
	padding-top: 10px;
	background-color: rgb(40, 40, 40);
}

.slide a {
	font-size: 0.9em;
	display: block;
	background-color: rgb(255, 55, 55);
	color: white;
	padding: 4px 8px;
	border-radius: 10px;
	position: absolute;
	bottom: 0;
	right: 20%;
	left: 20%;
}

.slideImg {
	margin: 5% auto;
}

.slideImg {
	width: 100%;
	max-width: 280px;
}

/* BEST SELLERS */
#best_sellers {
	background-color: white;
}

/* ITEM */
.item {
	width: 90%;
	max-width: 290px;
	margin: 5% auto;
	padding: 4% 6%;
	box-shadow: 0px 0px 10px 1px rgba(40, 40, 40, 0.3);
}

.item h2 {
	font-size: 1.1em;
	margin-bottom: 2%;
	text-align: center;
}

.item img {
	height: 100%;
	max-width: 100%;
	max-height: 162px;
	display: block;
	margin: 0 auto;
	box-shadow: 5px 5px 5px 0px rgba(40, 40, 40, 0.4);	
}

.item_description_inner {
	width: 50%;
	float: left;
	margin: 4% 0;
}

.item_description_inner div {
	margin-bottom: 8px;
}

.item span, .item li {
	font-size: 0.9em;
	color: rgba(40, 40, 40, 0.6)
}

.thickness li {
	float: left;
}

.item_submit {
	width: 100px;
}

.item span {
	display: block;
}

/* ARTISTS */
.artists_p {
	font-size: 1.2em;
}

.photo_category {
	height: 20px;
	margin: 5px 0px;
}

.photo_category p {
	height: 100%;
	width: 40%;
	float: left;
}

.cube {
	-moz-box-shadow:    inset 0 0 12px rgba(40, 40, 40, 0.2);
	-webkit-box-shadow: inset 0 0 12px rgba(40, 40, 40, 0.2);
	box-shadow:         inset 0 0 12px rgba(40, 40, 40, 0.2);
	width: 20px;
	height: 20px;
	float: left;
	border: 1px solid white
}

.cube_active {
	-moz-box-shadow:    inset 0 0 15px rgba(255, 55, 55, 0.7);
	-webkit-box-shadow: inset 0 0 15px rgba(255, 55, 55, 0.7);
	box-shadow:         inset 0 0 15px rgba(255, 55, 55, 0.7);
	border: 1px solid white;
}

.social_media_icons img {
	width: 30px;
	height: 30px;
	margin: 10px 10px;
	opacity: 0.3;
}

.social_media_icons div {
	display: inline-block;
}

.social_media_icons, .artist h2, .artist h3, .artist h4 {
	text-align: center;
}

.artist_image {
	display: block;
	width: 125px;
	height: 125px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.artist {
	margin: 50px auto;
}

.artist:last-child {
	margin-bottom: 0;
}

.artist h2 {
	font-size: 1.4em;
}

.artist h4 {
	color: rgba(40, 40, 40, 0.5);
	font-size: 0.9em;
}

.artist h3 {
	font-size: 1.2em;
	margin-top: 10px;
}

.gallery_button {
	width: 100px;
	background-color: rgb(255, 55, 55);
	padding: 4px 8px;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	font-size: 0.9em;
}

.gallery_button  a {
	color: white;
}

/* REVIEWS */
.review {
	margin: 20px auto;
}

.review h2 {
	font-size: 1.2em;
	margin-bottom: 5px;
}

.review h2 span {
	font-size: 0.7em;
	color: rgba(40, 40, 40, 0.5)
}

.review p span {
	color: rgb(255, 55, 55);
}

.reviews_button {
	width: 150px;
	margin-bottom: 20px;
}

/* INTRODUCTION */

#introduction h1 {
	margin-bottom: 10px;
}

#introduction p {
	padding: 10px;
}

.disclaimer {
	color: rgb(255, 55, 55);;
}

/* SIGN IN & REGISTER */
#sign_in, #register, #contact_us {
	padding: 10px;
	width: 90%;
}

#sign_in {
	margin: 25% auto;
}

#register, #contact_us {
	margin: 10% auto;
}

#sign_in input, #register input, #contact_us input {
	font-size: 20px;
}

/* CONTACT US */
.inner_container div {
	padding: 5% 10%;
}

#contact_us h1 {
	text-align: left;
}

/* ARTISTS */
#filter_button img {
	width: 20px;
	height: 20px;
}

#filter_button, #filter {
	border-radius: 0 5px 5px 0;
	box-shadow: 5px 5px 10px -2px rgba(40, 40, 40, 0.5);
	-webkit-box-shadow: 5px 5px 10px -2px rgba(40, 40, 40, 0.5);
	-moz-box-shadow: 5px 5px 10px -2px rgba(40, 40, 40, 0.5);
}

#filter_button {
	background: rgb(255, 55, 55);
	bottom: 10%;
	position: absolute;
	width: 50px;
	height: 30px;
	padding: 5px;
	padding-left: 25px;
	right: -50px;
}

#artists .artist:last-child {
	margin: 50px auto;
}

#filter {
	position: fixed;
	bottom: 5%;
	width: 160px;
	background: white;
	padding: 10px;
	transform: translateX(Calc(-100% + (-10px))); /* 10px compensation for the shadow */
}

#filter div {
	margin: 5px auto;
}

#filter input[type="checkbox"] {
	margin-top: 0;
	width: 13px;
	height: 13px;
}

#filter input[type="radio"] {
	margin: 0;
	margin-right: 5px;
}

#filter h2 {
	font-size: 1.2em;
}

#filter h3 {
	margin-bottom: 2px;
	font-size: 1.1em;
}

#load_more_artists {
	width: 150px;
	margin-bottom: 20px;
}

/* SHOP */
#load_more_items {
	width: 160px;
	margin-bottom: 20px;
}

/* ITEM DETAIL */
.item_container {
	position: relative;
	height: 696px; /* height of item background + height of buying options div */
}

.item_background {
	height: 450px;
	width: 100%;
	background: url('/img/item_detail_phone.jpg') no-repeat center center;
	background-size: cover;
	position: fixed;
	z-index: -1;
}

.productImage {
	display: block;
	margin: 10% auto;
}

#buying_options {
	width: 100%;
	background: white;
	position: absolute;
	bottom: 0;
	padding: 10px;
}

#buying_options img {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 63px; /* (height of buying_options / 2) - (height of img / 2) */
}

.buying_option {
	width: 50%;
	float: left;
	padding: 5px;
}

.buying_option input {
	margin: 4px 0;
	margin-right: 4px;
}

.add_to_cart h2 {
	font-size: 2em;
}

.add_to_cart {
	text-align: center;
}

.add_to_cart div {
	width: 110px;
	margin: 0 auto;
	margin-top: 5px;
}

/* SHOPPING CART */
.sc_container {
	box-shadow: 3px 3px 8px 0px rgba(40, 40, 40, 0.4);
	margin: 5% auto;
	margin-bottom: 5%;
	border-radius: 5px;
}

.sc_image img {
	height: 182px;
	display: block;
	margin: 0 auto;
}

.sc_quantity .left, 
.sc_quantity .middle, 
.sc_detail h2, 
.sc_price h2, 
.sc_price h4,
.sc_name .left h2, 
.sc_name .right h2  {
	font-weight: bold;
} 

.sc_detail, .sc_name, .sc_price, .sc_checkout {
	padding: 10px;
}

.sc_name .left, .sc_container {
	width: 90%;
}

.sc_name .right {
	width: 10%;
	text-align: center;
	font-size: 0.7em;
	color: rgb(220, 220, 220);
}

.sc_name .right h2 {
	font-size: 2.4em;
}

.sc_name .left p {
	font-size: 0.7em;
}

.sc_detail p, .sc_name .left p  {
	color:rgb(100, 100, 100);
}

.sc_detail h2, .sc_price h2, .sc_price h4 {
	font-size: 1.1em;
	margin-top: 5px;
}

.sc_quantity {
	text-align: center;
	border: 1px solid rgb(220, 220, 220);
	border-radius: 5px;
	width: 60%;
	margin: 10% auto;
}

.sc_quantity .left {
	width: 25%;
	background: rgb(220, 220, 220);
	color: white;
}

.sc_quantity .middle {
	width: 50%;
	float: left;
}

.sc_quantity .left, .sc_quantity .middle, .sc_empty {
	padding: 5px;
}

.sc_price div {
	border-bottom: 1px solid rgb(220, 220, 220);
	padding: 5px;
	margin-top: 5px;
}

.sc_price h4, .sc_price h2 {
	margin-top: 0;
}

.sc_checkout_container {
	border: 1px solid rgb(255, 55, 55);
	border-radius: 5px;
}

.sc_checkout .left {
	width: 60%;
}

.sc_checkout .right {
	width: 40%;
	background-color: rgb(255, 55, 55);;
	color: white;
}

.sc_checkout .left, .sc_checkout .right {
	padding: 5px;
}

.sc_checkout div {
	text-align: center;
}

.sc_name .right img {
	width: 20px;
	height: 20px;
}